# macOS
.DS_Store

# Obsidian
.obsidian/workspace
.obsidian/workspace.json
.obsidian/cache
.obsidian/plugins/tsp-automator/node_modules/
.trash/

# Node
node_modules/

# Sensitive Plugin Data (API Keys, etc.)
.obsidian/plugins/**/data.json
