/* @settings

name: Banner Tweaks
id: banner-tweaks
settings:
    - 
        id: desktop-settings
        title: Desktop Settings
        type: heading
        level: 1
    - 
        id: banner-content-offset
        title: Content Top Offset (Desktop)
        description: Adjust how much the content overlaps the banner on Desktop.
        type: variable-number
        default: 150
        format: px
    - 
        id: banner-icon-offset
        title: Icon Top Offset (Desktop)
        description: Adjust vertical position of the icon relative to banner bottom on Desktop.
        type: variable-number
        default: 45
        format: px
    - 
        id: mobile-settings
        title: Mobile Settings
        type: heading
        level: 1
    - 
        id: banner-content-offset-mobile
        title: Content Top Offset (Mobile)
        description: Adjust how much the content overlaps the banner on Mobile.
        type: variable-number
        default: 120
        format: px
    - 
        id: banner-icon-offset-mobile
        title: Icon Top Offset (Mobile)
        description: Adjust vertical position of the icon relative to banner bottom on Mobile.
        type: variable-number
        default: 35
        format: px
    - 
        id: hover-settings
        title: Hover Preview Settings
        type: heading
        level: 1
    - 
        id: banner-content-offset-hover
        title: Content Top Offset (Hover)
        description: Adjust how much the content overlaps the banner in Hover Previews.
        type: variable-number
        default: 100
        format: px
    - 
        id: banner-icon-offset-hover
        title: Icon Top Offset (Hover)
        description: Adjust vertical position of the icon relative to banner bottom in Hover Previews.
        type: variable-number
        default: 30
        format: px
*/

/* 1. DESKTOP STYLES (Default) */
body:not(.is-mobile) .obsidian-banner-wrapper {
    margin-top: calc(var(--banner-height) - var(--banner-content-offset, 150px)) !important; 
    padding-top: 0px !important;
}
body:not(.is-mobile) .obsidian-banner-icon {
    position: absolute !important;
    top: calc(var(--banner-height) - var(--banner-icon-offset, 45px)) !important;
    z-index: 20 !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
}

/* 2. MOBILE STYLES */
body.is-mobile .obsidian-banner-wrapper {
    margin-top: calc(var(--banner-height) - var(--banner-content-offset-mobile, 120px)) !important; 
    padding-top: 0px !important;
}
body.is-mobile .obsidian-banner-icon {
    position: absolute !important;
    top: calc(var(--banner-height) - var(--banner-icon-offset-mobile, 35px)) !important;
    z-index: 20 !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
}

/* 3. HOVER PREVIEW STYLES */
.hover-popover .obsidian-banner-wrapper {
    margin-top: calc(var(--banner-height) - var(--banner-content-offset-hover, 100px)) !important; 
    padding-top: 0px !important;
}
.hover-popover .obsidian-banner-icon {
    position: absolute !important;
    top: calc(var(--banner-height) - var(--banner-icon-offset-hover, 30px)) !important;
    z-index: 20 !important;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.3));
}

/* Ensure title doesn't overlap with the icon if the icon sticks out */
.obsidian-banner-wrapper .markdown-preview-section > div:first-child h1,
.obsidian-banner-wrapper .markdown-source-view .cm-line:first-child .cm-header-1 {
    margin-top: 0 !important;
}
